:root {
  --ss-blue: #216bae;
  --ss-dark-blue: #004f99;
  --ss-light-blue: #5db1ff;
  --white: #ffffff;
  --ss-green: #09ae07;
  --black: rgb(0, 0, 0);
  --ss-smoke: #d3deeb;
}

body {
  background-color: transparent !important;
  min-height: 100vh;
  min-height: -webkit-fill-available;
  overflow-x: hidden;
  overflow-y: auto;
  font-family: 'Avenir';
}

.navbar-brand > p {
  color: #4d4d4d;
}

.text-ss-dark-blue {
  color: var(--ss-dark-blue);
}

.text-ss-blue {
  color: var(--ss-blue);
}

.btn-ss-blue {
  background-color: var(--ss-blue);
}

.btn-ss-dark-blue {
  background-color: var(--ss-dark-blue);
}

.btn-ss-light-blue {
  background-color: var(--ss-light-blue);
}

.btn-outline-ss-blue {
  color: var(--ss-blue);
  border-color: var(--ss-blue);
}

.btn-outline-ss-blue-table {
  color: var(--ss-blue);
  border-color: var(--ss-blue);
}

.btn-ss-smoke {
  background-color: var(--ss-smoke);
}

.btn-ss-green {
  background-color: var(--ss-green);
}

.btn-outline-ss-blue:hover {
  color: var(--white);
  background-color: var(--ss-blue);
  border-color: var(--ss-blue);
}

.btn-outline-ss-blue-table:hover {
  color: var(--black);
}

.home-col-left-title {
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 50px;
  line-height: 75px;
}

.home-col-left-desc {
  font-family: "Poppins";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 36px;
}

.close-auth-card:hover {
  color: var(--ss-blue);
  cursor: pointer;
}

#auth-card {
  width: 100%;
  height: 100%;
  background: rgba(12, 12, 12, 0.5);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  overflow: auto;
}

.fw-bold-800 {
  font-weight: 800 !important;
}

/*sidebar styles*/

main {
  width: 100%;
  height: 100vh;
  max-height: 100vh;
}

.b-example-divider {
  flex-shrink: 0;
  width: 1.5rem;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.1);
  border: solid rgba(0, 0, 0, 0.15);
  border-width: 1px 0;
  box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1),
    inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

.bi {
  vertical-align: -0.125em;
  pointer-events: none;
  fill: currentColor;
}

.dropdown-toggle {
  outline: 0;
}

.nav-flush .nav-link {
  border-radius: 0;
}

.btn-toggle {
  display: inline-flex;
  align-items: center;
  padding: 0.25rem 0.5rem;
  font-weight: 600;
  color: rgba(0, 0, 0, 0.65);
  background-color: transparent;
  border: 0;
}
.btn-toggle:hover,
.btn-toggle:focus {
  color: rgba(0, 0, 0, 0.85);
  background-color: #d2f4ea;
}

.btn-toggle::before {
  width: 1.25em;
  line-height: 0;
  content: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' viewBox='0 0 16 16'%3e%3cpath fill='none' stroke='rgba%280,0,0,.5%29' stroke-linecap='round' stroke-linejoin='round' stroke-width='2' d='M5 14l6-6-6-6'/%3e%3c/svg%3e");
  transition: transform 0.35s ease;
  transform-origin: 0.5em 50%;
}

.btn-toggle[aria-expanded="true"] {
  color: rgba(0, 0, 0, 0.85);
}
.btn-toggle[aria-expanded="true"]::before {
  transform: rotate(90deg);
}

.ss-table-blue {
  background-color: var(--ss-blue);
  color: var(--white);
  border: var(--ss-blue);
}

.btn-toggle-nav a {
  display: inline-flex;
  padding: 0.1875rem 0.5rem;
  margin-top: 0.125rem;
  margin-left: 1.25rem;
  text-decoration: none;
}
.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: #d2f4ea;
}

.scrollarea {
  overflow-y: auto;
}

.fw-semibold {
  font-weight: 600;
}
.lh-tight {
  line-height: 1.25;
}

.bg-ss-blue {
  background-color: var(--ss-blue);
}

.btn-white {
  background-color: var(--white);
}

#sidebar {
  position: fixed;
  overflow: auto;
  height: 100vh;
  right: 0 !important;
  z-index: 1000;
}

/* @media screen and (max-width: 800px) {
  #sidebarContainer {
    display: none;
    width: 100%;
    height: 100%;
    z-index: 100;
    overflow: auto;
  }

  #sidebar {
    position: static;
    overflow: auto;
    height: 100vh;
    width: auto !important;
  }

  #sidebarMenuButton {
    display: inline !important;
  }
} */

.active-route {
  color: var(--ss-blue) !important;
  background-color: var(--white) !important;
  border-right: 4px solid var(--ss-green) !important;
}

ul {
  list-style: none;
}

#homeImg {
  max-width: 100%;
}

/*for Collapsible menu items*/
.btn-toggle::before {
  content: "";
}

.btn-toggle {
  font-weight: normal;
  display: inline;
}

.btn-toggle:hover,
.btn-toggle:focus {
  color: var(--ss-blue) !important;
  background-color: var(--white);
  padding: 2px !important;
}

li.Collapsible-item > div ul li a {
  color: var(--white);
}

li.Collapsible-item > div ul li a {
  color: var(--white);
}

.btn-toggle-nav a:hover,
.btn-toggle-nav a:focus {
  background-color: transparent;
}

/*to style the scroll*/
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 2px grey;
  border-radius: 5px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--ss-smoke);
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--ss-smoke);
}

::-webkit-scrollbar-corner {
  width: 10px;
}

.height-fit-content {
  height: fit-content;
}